a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  font-size: 1em;
  font-weight: normal;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section {
  margin-bottom: 50px;
}
nav {
  background-color: #c63131;
}
nav .content {
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 1340px;
}
nav .content .nav-toggle {
  display: none;
}
nav .content .logo {
  z-index: 1;
}
nav .content .nav ul {
  display: flex;
  flex-wrap: nowrap;
}
nav .content .nav ul li {
  margin-left: 20px;
}
nav .content .nav ul li a {
  padding: 32px 0;
  line-height: 51px;
  color: #fff;
  font-family: "montserrat";
  font-weight: 500;
  text-transform: uppercase;
}
nav .content .nav ul li a:hover {
  border-bottom: 4px solid #f6d85a;
}
nav .content .side {
  padding-left: 350px;
  display: flex;
  flex-wrap: nowrap;
}
nav .content .side ul {
  display: flex;
}
nav .content .side ul li {
  margin-left: 20px;
}
nav .content .side ul li a {
  padding: 36px 0;
  line-height: 51px;
  color: #fff;
  font-family: "montserrat";
  font-weight: 500;
  text-transform: uppercase;
}
nav .content .side ul .pedidos a {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 9px 30px;
  font-family: "montserrat";
  font-weight: 500;
  transition: 0.3s;
  word-spacing: 5px;
  text-transform: uppercase;
  white-space: nowrap;
}
nav .content .side ul .pedidos a:hover {
  background-color: white;
  color: #c63131;
}
nav .content .side .carrinho {
  padding-left: 20px;
  display: flex;
  justify-content: flex-end;
  width: auto;
}
nav .content .side .carrinho a {
  display: flex;
  align-items: center;
}
nav .content .side .carrinho a span {
  color: #fff;
  font-family: "montserrat";
  font-weight: 500;
  text-transform: uppercase;
}
nav .content .side .carrinho a .quantidade {
  background-color: #fff;
  font-size: 14px;
  width: 52px;
  height: 50px;
  border-radius: 52px;
  transform: translate(3px, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border: 1px solid #fff;
  transition: 0.3s;
  color: #c63131;
}
nav .content .side .carrinho a .quantidade:hover {
  background-color: #c63131;
  color: #fff;
}
.banner ul img {
  width: 100%;
}
.qualidades {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  text-align: -webkit-center;
}
.qualidades .content {
  max-width: 1250px;
}
.qualidades .content .apelos {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.qualidades .content .apelos .each {
  display: flex !important;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 30px;
}
.qualidades .content .apelos .each .icon {
  margin-bottom: 15px;
}
.qualidades .content .apelos .each .icon .apelo1 {
  height: 38px;
}
.qualidades .content .apelos .each .icon .apelo2 {
  height: 40px;
}
.qualidades .content .apelos .each .icon .apelo4 {
  height: 27px;
}
.qualidades .content .apelos .each .icon .apelo5 {
  height: 28px;
}
.qualidades .content .apelos .each .text {
  text-align: center;
  font-family: "montserrat";
  font-weight: 300;
  color: #303030;
  font-size: 15px;
}
.cards .content {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
}
.cards .content ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
}
.cards .content ul li {
  max-width: 330px;
  position: relative;
  margin: 10px 40px;
  list-style-type: none;
}
.cards .content ul li .categorys-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 5;
  border: 4px solid #54596e;
  border-radius: 5px;
  height: 430px;
}
.cards .content ul li .categorys-content h3 {
  font-family: "mulish";
  color: white;
  font-size: 26px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.cards .content ul li .categorys-content p {
  font-family: "montserrat";
  color: white;
  text-align: center;
  font-weight: 500;
  padding: 15px;
  font-size: 15px;
  letter-spacing: 1px;
}
.cards .content ul li .categorys-content .category-button {
  background-color: white;
  padding: 8px 45px;
  border-radius: 5px;
  border: 3px solid #fff;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s;
}
.cards .content ul li .categorys-content .category-button span {
  font-family: "montserrat";
  font-weight: 500;
}
.cards .content ul li .categorys-content .color1 span {
  color: #48e4c2;
}
.cards .content ul li .categorys-content .color1:hover {
  background-color: #48e4c2;
}
.cards .content ul li .categorys-content .color1:hover span {
  color: white;
}
.cards .content ul li .categorys-content .color2 span {
  color: #ffa024;
}
.cards .content ul li .categorys-content .color2:hover {
  background-color: #ffa024;
}
.cards .content ul li .categorys-content .color2:hover span {
  color: white;
}
.cards .content ul li .categorys-content .color3 span {
  color: #ff7c7f;
}
.cards .content ul li .categorys-content .color3:hover {
  background-color: #ff7c7f;
}
.cards .content ul li .categorys-content .color3:hover span {
  color: white;
}
.cards .content ul li .categorys-content .img-general {
  height: 193px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards .content ul li .categorys-content .img-general img {
  width: auto;
  max-height: 193px;
}
.cards .content ul li .background {
  position: absolute;
  z-index: 1;
  height: 440px;
  width: 100%;
  top: 7px;
  left: 9px;
  border-radius: 5px;
  transition: 0.5s;
}
.cards .content ul li .color-1 {
  background-color: #48e4c2;
}
.cards .content ul li .color-2 {
  background-color: #ffa024;
}
.cards .content ul li .color-3 {
  background-color: #ff7c7f;
}
.cards .content ul li:hover .background {
  height: 430px;
  top: 0px;
  left: 0px;
}
.veja-como {
  background-color: #fafaf9;
  padding: 130px 0px 20px 0px;
  margin-top: -115px;
}
.veja-como .content {
  margin-top: 50px;
}
.veja-como .content .veja-como-general {
  background-color: white;
  border-radius: 50%;
  max-width: 1240px;
  margin: 0 auto;
  height: 1240px;
}
.veja-como .content .veja-como-general .titulo {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.veja-como .content .veja-como-general .titulo .click {
  margin-top: -3%;
}
.veja-como .content .veja-como-general .titulo .click img {
  width: 70px;
}
.veja-como .content .veja-como-general .titulo h3 {
  font-family: "mulish";
  font-size: 45px;
  margin-top: 0px;
  font-weight: 600;
}
.veja-como .content .veja-como-general .titulo p {
  font-size: 15px;
  text-align: center;
  color: #c63131;
}
.veja-como .content .veja-como-general .passos {
  max-width: 850px;
  margin: 10px auto;
  display: flex;
  flex-flow: row wrap;
}
.veja-como .content .veja-como-general .passos .passo-img {
  flex-basis: 50%;
}
.veja-como .content .veja-como-general .passos .passo-img img {
  max-height: 310px;
  width: 100%;
}
.veja-como .content .veja-como-general .passos .passo-text {
  flex-basis: 30%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.veja-como .content .veja-como-general .passos .passo-text h4 {
  font-family: "mulish";
  font-weight: 600;
  color: #c63131;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.veja-como .content .veja-como-general .passos .passo-text h3 {
  font-family: "mulish";
  font-weight: 600;
  color: #c63131;
  font-size: 27px;
  margin-top: 0px;
}
.veja-como .content .veja-como-general .passos .passo-text p {
  font-family: "montserrat";
  font-weight: 300;
  color: #c63131;
  font-size: 14px;
  margin-top: 0px;
}
.veja-como .content .veja-como-general .mod2 {
  justify-content: flex-end;
}
.veja-como .content .veja-como-general .mod2 .passo-text {
  text-align: right;
}
.veja-como .content .veja-como-general .mod2 img {
  margin-left: 20px;
}
.marcas .content {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
}
.marcas .content .titulo h3 {
  max-width: 403px;
  margin: 35px auto;
  font-family: "mulish";
  font-weight: 800;
  color: #c63131;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0.9px;
}
.marcas .content img {
  border-radius: 90%;
}
.marcas .content .glider-track {
  width: 100%;
  margin: 0 auto;
  padding: 10px 70px;
}
.rodape {
  float: none;
  width: 100%;
  background-color: #c63131;
  background-image: url("https://www.printset.com.br/static/frontend/Hibrido/default/pt_BR/images/fundo-news.png") !important;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.rodape .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rodape .content .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 55px;
}
.rodape .content .form .newsletter-footer {
  display: flex;
  align-items: flex-start;
}
.rodape .content .form .newsletter-footer .newsletter {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rodape .content .form .newsletter-footer .newsletter .control {
  width: 410px;
  display: flex;
  flex-flow: row wrap;
}
.rodape .content .form .newsletter-footer .newsletter .control input {
  font-family: "montserrat";
  font-weight: 300;
  height: 50px;
  margin-left: 10px;
  width: 47%;
  border-radius: 5px;
  background-color: #fff;
  border: none !important;
  padding-left: 25px !important;
}
.rodape .content .form .newsletter-footer .actions {
  display: flex;
  width: auto;
  margin-left: 10px;
}
.rodape .content .form .newsletter-footer .actions button {
  height: 50px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.rodape .content .form .newsletter-footer .actions button:hover {
  background-color: #c63131;
}
.rodape .content .form .newsletter-footer .actions button:hover span {
  color: #fff !important;
}
.rodape .content .form .newsletter-footer .actions .primary {
  font-size: 14px;
  line-height: 0px;
  padding: 0 10px;
  width: 200px;
  text-transform: none;
  letter-spacing: 1px;
}
.rodape .content .form .newsletter-footer .actions .primary span {
  color: #c63131;
  font-weight: 600;
}
.rodape .content .label {
  display: flex;
  position: relative;
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: auto;
  padding: 0;
  width: auto;
  margin: 35px 0 30px 0;
  max-width: 530px;
}
.rodape .content .label span {
  font-family: "mulish";
  font-weight: 600;
  color: #fff;
  font-size: 32px;
  line-height: 33px;
  width: 100%;
  text-align: center;
}
.widget .formas-selo {
  background: #fff;
}
.widget .formas-selo .content {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
}
.widget .formas-selo .content .formas-selo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
.widget .formas-selo .content .formas-selo-container h2 {
  font-family: "montserrat";
  font-weight: 300;
  line-height: 1;
  margin-top: 0;
  padding-top: 25px;
  font-size: 14px;
  color: #303030;
  font-weight: 700;
}
.widget .formas-selo .content .formas-selo-container img {
  height: auto;
  max-width: 100%;
}
.footer {
  width: 100%;
  order: 3;
  background: #f4f4f4;
}
.footer .content {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer .content .footer-container {
  float: none;
  width: 100%;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
.footer .content .footer-container ul {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  font-family: "montserrat";
  font-weight: 300;
  letter-spacing: 0.09px;
}
.footer .content .footer-container ul li {
  margin-right: 65px;
}
.footer .content .footer-container ul li h3 {
  line-height: 1;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  color: #303030;
  font-weight: 500;
}
.footer .content .footer-container ul li ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0px;
}
.footer .content .footer-container ul li ol li {
  margin-bottom: 10px;
}
.footer .content .footer-container ul li ol li a {
  font-size: 14px;
  color: #9b9b9b;
  transition: 0.3s;
}
.footer .content .footer-container ul li ol li .telefone-footer {
  color: #c63131;
  font-family: "mulish";
  font-size: 27px;
  font-weight: 700;
  margin-top: -10px;
}
.footer .content .footer-container ul li ol li .email-footer {
  color: #c63131;
}
.footer .content .footer-container ul .social-footer {
  margin-right: 0px;
}
.footer .content .footer-container ul .social-footer ol {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.footer .content .footer-container ul .social-footer ol li a {
  font-weight: 100;
  font-size: 30px;
  color: #c63131 !important;
}
.footer .content .footer-container ul .social-footer ol li a i {
  font-weight: 100;
  font-size: 30px;
  color: #c63131 !important;
}
.copyright {
  background: #f4f4f4;
}
.copyright .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  position: relative;
}
.copyright .content span {
  color: #9b9b9b;
  font-family: "montserrat";
  line-height: 20px;
  letter-spacing: 0.09px;
  font-weight: 300;
}
.copyright .content .hibrido {
  font-size: 14px;
  color: #9b9b9b;
  position: absolute;
  top: 20px;
  max-width: 1340px;
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
.copyright .content .hibrido a {
  color: #9b9b9b;
  right: 0;
  background: url("https://www.printset.com.br/static/frontend/Hibrido/default/pt_BR/images/logo_hibrido.png") no-repeat right center;
  padding-right: 20px;
  opacity: 0.4;
  transition: 0.3s;
}
.copyright .content .hibrido a:hover {
  opacity: 1;
}
[data-slide] {
  position: relative;
}
[data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
[data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
}
[data-slide-nav] {
  justify-content: center;
  text-align: center;
  position: relative;
  left: 50%;
  width: 300px;
  margin-left: -200px;
  list-style-type: none;
}
[data-slide-nav] > button {
  background: #c63131;
  color: transparent;
  border: 0;
  box-shadow: none;
  border-radius: 50%;
  padding: 0;
  width: 15px;
  height: 15px;
  margin-left: 15px;
  position: relative;
}
[data-slide-nav] > button.active {
  background: transparent;
  border: 2px solid #c63131;
  width: 26px;
  height: 26px;
}
[data-slide-nav] > button.active::after {
  content: "";
  display: block;
  font-family: "Admin Icons";
  display: inline-block;
  position: absolute;
  text-align: center;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #c63131;
  color: #c63131;
  transition: 0.3s;
}
.tippy-box[data-theme~="tomato"] {
  background-color: rgba(255, 220, 221, 0.9);
  border-radius: 5px;
  width: 180px;
  font-family: "montserrat";
  font-weight: 300;
  color: #c63131;
  font-size: 12px;
  padding: 13px 15px;
  margin-bottom: 0px;
}
@media only screen and (max-width: 1380px) {
  nav .content {
    justify-content: space-evenly;
    margin: 0;
    width: 100%;
  }
  nav .content .side {
    padding-left: 0;
  }
  .cards .content ul li {
    padding-bottom: 20px;
  }
  .glider-track {
    padding: 0 70px !important;
  }
  .glider-prev {
    right: auto;
    left: 0px;
  }
  .glider-next {
    right: 0px;
    left: auto;
  }
  .copyright .content {
    display: flex;
  }
  .copyright .content span {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    padding: 15px 0;
  }
  .copyright .content .hibrido {
    position: initial;
    top: 0;
    display: initial;
    justify-content: initial;
    text-align: center;
  }
}
@media only screen and (max-width: 1200px) {
  .glider-track {
    padding: 0 !important;
  }
  .glider-prev,
  .glider-next {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  nav .content {
    justify-content: space-between;
    display: flex;
    padding: 0 10px;
  }
  nav .content:before {
    font-size: 30px;
    color: white;
  }
  nav .content .nav-toggle {
    cursor: pointer;
    display: inline-block;
    left: 0;
    position: initial;
    top: 0;
    margin-right: 25px;
  }
  nav .content .nav-toggle:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 28px;
    line-height: inherit;
    color: white;
    content: "\e609";
    font-family: "luma-icons";
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    text-align: center;
  }
  nav .content .logo {
    margin-top: 0px !important;
    width: 50%;
  }
  nav .content .nav,
  nav .content .side ul {
    display: none;
  }
  [data-slide-nav] {
    margin-left: -150px;
  }
  .veja-como .content .veja-como-general {
    border-radius: 40px;
  }
  .veja-como .content .veja-como-general .passos {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .rodape .content .newsletter-footer {
    flex-flow: row wrap;
    justify-content: center;
  }
  .rodape .content .newsletter-footer .newsletter {
    padding-bottom: 10px;
  }
  .widget .formas-selo .content .formas-selo-container {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
  }
  .footer {
    background-color: white;
  }
  .footer .content {
    border-top: 1px solid #cecece;
  }
  .footer .content .footer-container {
    flex-direction: column-reverse;
  }
  .footer .content .footer-container .footer-left ul {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .footer .content .footer-container .footer-left ul li {
    text-align: center;
    margin-right: 0;
  }
  .footer .content .footer-container .footer-left ul li ol {
    margin-bottom: 20px;
    align-items: center;
  }
  .footer .content .footer-container .footer-right ul {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .footer .content .footer-container .footer-right ul li {
    text-align: center;
    margin-top: 20px;
    margin: 0;
    padding: 0 45px 15px 45px;
  }
}
.menu-mobile {
  position: fixed;
  display: flex;
  z-index: 9999;
  top: 0;
  left: -100%;
  background: #fafaf9;
  flex-direction: column;
  max-width: 400px;
  width: 80%;
  height: 100%;
  transition: 0.3s;
}
.menu-mobile .menu-mobile-links {
  display: flex;
  background-color: #c63131;
  padding: 27px 0;
  flex-wrap: wrap;
}
.menu-mobile .menu-mobile-links li {
  list-style-type: none;
  width: 50%;
  padding: 0;
  margin: 0;
}
.menu-mobile .menu-mobile-links li:first-child a {
  padding-inline-start: 40px;
}
.menu-mobile .menu-mobile-links li:last-child a {
  position: absolute;
  top: 2px;
  right: -20px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px 15px;
  background-color: white;
  color: #c63131;
}
.menu-mobile .menu-mobile-links li:last-child a:hover {
  transition: 0.3s;
  background-color: transparent;
  color: white;
}
.menu-mobile .menu-mobile-links li a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  font-family: "montserrat";
  text-transform: uppercase;
}
.menu-mobile .menu-mobile-list {
  list-style-type: none;
  padding: 25px 28px;
}
.menu-mobile .menu-mobile-list li {
  margin-bottom: 20px;
}
.menu-mobile .menu-mobile-list li a {
  color: #c63131;
  font-family: "montserrat";
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
.active {
  left: 0 !important;
}
